<!DOCTYPE html>
<html>
<head>
	<title>Edit potin</title>
</head>
<body>
		<a href="/gossips/<%= id %>">Retour</a>
		<h3>Editer le potin n°<%= id %></h3>
		<form action="/gossips/<%= id %>/edit" method="POST">
			Nouveau blase : <input type="text" name="gossip_author" /><br>
			Nouveau blase : <input type="text" name="gossip_content" /><br>
			<input type="submit" value="Appliquer" />
		</form>
</body>
</html>