<html>
	<head>
		<title>PAGE POTIN</title>
	</head>
	<body>
		<p>Voici la page du potin n°<%= id %></p>
		<p>
			Son auteur : <%= params[id].author %><br>
			Le contenu du potin : <%= params[id].content %>	
		</p>	
		<a href="/gossips/<%= id %>/edit">Editer le potin</a><br>
		<a href="/">retour</a>
	</body> 
</html>